@charset "utf-8";

*,
html {
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
a,
p {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
}
.active {
  color: #fb8b07 !important;
}
.nav-text {
  font-size: 20px;
  transition: 0.3s linear;
}
.nav-text:hover {
  color: #fb8b07 !important;
  transition: 0.3s linear;
}
.banner {
  object-fit: cover;
}

.introduce {
  height: 440px;
  background: url("../img/Banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.beforeHeader {
  height: 60px;
  background-color: #efecec;
}
.beforeHeader a {
  width: 180px;
  height: 40px;
  margin-left: 30px;

  background-color: #f2f3f0;
  border: 1px solid #0002;
  color: #0007;

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.accordion-container {
  margin: 5px;
  width: 100%;
  margin-bottom: 50px;
}

button.accordion-button:focus {
  box-shadow: none !important;
}

.afterFooter {
  height: 70px;
  background: #efecec;
}
/* classes js */
.error {
  padding: 10px;
  color: #f00;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}